
    <div class="bottom">
      
         <div class="row">
              <div class="logo col" id="Logo">
                  <img src="resource/WhatsApp%20Image%202020-05-25%20at%2021.32.52.jpeg" > 
                 <p> "Where every street has a  memory" </p>    
             </div>
               
             <div class="col" id="about">
               <h1>About Us</h1>
                     <p>We are here to show you <br>the best of Bengal.</p>
                  <a href="/contact" >Contact Us<br></a>
              
                    <i class="fa fa-mobile "></i> <a id="ph">  7797699891</a>  
             </div>
             <div class="col  " id="pages">
                   <h1>Pages</h1>
                   <ul class="footer-nav">
                       <li><a href="/">Home</a> </li>
                       <li><a href="#serviceRef">Services</a> </li>
                       <li><a href="#Igallery">Gallery</a> </li>
                   </ul>
              </div>
             <div class=" col " id="links">
                   <h1>Helpful links</h1>
                   <ul class="footer-nav">
                       <li><a href="/team">Team</a> </li>
                       <li><a href="/monsary">Top Clicks</a> </li>
                  </ul>     
             </div>
               
          </div> 
        <div class="ext-links">
                      <!-- <h3 class="fab">Follow Us On:-</h3> -->
                     <a class="fab" href="https://www.facebook.com/FOOTPRINTSKOLKATA"><i class="fa fa-facebook "></i></a>
                     <a class="fab"href="http://Instagram.com/footprintsofkolkata"><i class="fa fa-instagram "></i></a>  
                   </p>
                                          
             </div>
      
      </div>

    </body>
</html>
