
<%- include("partials/header") -%>

  
<section class="intro">
  
    <div class="introAdjust">
        <h2 id="introtext">FOOTPRINTS OF <span id = "toggler"></span></h2>
        <div class="container int">
        <p>Culture,Food,Art,Roshogolla,Misti doi,Rabindranath Tagore's poems,Satyajit Ray's films,Durga pujo.Kolkata has everything to offer and we are on a journey to discover the streets of Kolkata - where every street has a memory.<br>Come be a part of our family and lets dive into this old world charm that Kolkata has to offer.<br><br></p>
        <a href="#Igallery">DIVE IN</a>
        </div>
   </div>
   
</section>
<section class="gallery" id="Igallery">
    <h1 id="madhu">Image Gallery</h1>
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                <div class="gallery-box">
                    <a  href="gallery/3.jpg" data-lightbox="mygallery" data-title="All credits:@soulful_creature #igcalcutta #durga #ashlopujo #kolkata #kolkata_lanes #kolkata_igers #kolkata_diaries #thekolkatabuzz #festival #picoftheday #trending #durgapuja #india #incredibleindia #blessed #calcutta #streetsofcalcutta"><img src="images/3.jpg" alt="Pic-1"></a>
                    
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                <div class="gallery-box">
                    <a  href="gallery/1.jpg" data-lightbox="mygallery" data-title="Choke jol mukhe hasi pran bhore khao bongo bashi.Dish-Shorshe Ilish .Pic credits to @gastronomad_m . #foodporn #food #foodphotography #foodie #kolkatasutra #kolkatabuzz #go_bangali #ig_calcutta #kolkatablogger #kolkatadiaries #kolkata_igers #insta #instagood #followforfollowback #authentic #delicious #delicacy
                    "><img src="gallery/1.jpg" alt="Pic-2"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                <div class="gallery-box">
                    <a  href="gallery/2.jpg" data-lightbox="mygallery" data-title="Biswa bangla- where the world meets bengal.Credits:@i.msurit_official .#igcalcutta #thekolkatabuzz #biswabangla #picoftheday #kolkata #kolkata_igers #kolkataphotography #kolkatadiaries #calcutta #trending #gate #kolkata_ig #gobangali #kolkatasutra #photography #bengal #bengali"><img src="images/2.jpg" alt="Pic-3"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                <div class="gallery-box">
                    <a  href="gallery/4.jpg" data-lightbox="mygallery" data-title="A single picture can tell different stories to different people.. As the story lies in the mind of the person who sees it! .Credits to @itzme_chetan#photooftheday #picoftheday #insta #instagood #queenvictoriaofengland #england #britishindia #lovely #heritage #oldkolkata #kolkatasutra #kolkatabuzz #go_bangali #kolkata #kolkatablogger #kolkatadiaries #kolkata_igers #worldheritagesites #love #heartofthecity #footprintsofkolkata"><img src="images/4.jpg" alt="Pic-4"></a>
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                <div class="gallery-box">
                    <a  href="gallery/5.jpg" data-lightbox="mygallery" data-title="Kolkata, as it's often said, is not a city, it is an emotion. Those who stay there, or have visited the city, can go on endlessly about the place , and about its rich heritage and its food . Kolkata breeds nostalgia, and once you are there, you never really leave the city. You may not be physically present, but a part of you always stays back, in some alley in the city. Credits to @photographer_rony . #photooftheday #picoftheday #insta #instagood #britishindia #lovely #heritage #oldkolkata #kolkatasutra #kolkatabuzz #go_bangali #kolkata #kolkatablogger #kolkatadiaries #kolkata_igers #worldheritagesites #love #heartofthecity #footprintsofkolkata"><img src="images/5.jpg" alt="Pic-5"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                <div class="gallery-box">
                    <a  href="gallery/6.jpg" data-lightbox="mygallery" data-title="The fine line between rasgulla and rosogolla is where our emotions lies. Credits: @foodroshik19 .#photooftheday #picoftheday #insta #instagood #lovely #heritage #oldkolkata #kolkatasutra #kolkatabuzz #go_bangali #kolkata #kolkatablogger #kolkatadiaries #kolkata_igers #worldheritagesites #love #heartofthecity #footprintsofkolkata"><img src="images/6.jpg" alt="Pic-6"></a>
                </div>
            </div><div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                <div class="gallery-box">
                    <a  href="gallery/7.jpg" data-lightbox="mygallery" data-title="চল রাস্তায় সাজি ট্রাম লাইন আর কবিতায় শুয়ে coupletআহা উত্তাপ কত সুন্দর তুই thermometer -এ মাপলেহিয়া টুপটাপ জিয়া নস্টাল , মিঠে কুয়াশায় ভেজা আস্তিনআমি ভুলে যাই কাকে চাইতাম আর তুই কাকে ভালোবাসতি Credit to: @photosticlife #photooftheday #picoftheday #insta #instagood #lovely #heritage #oldkolkata #kolkatasutra #kolkatabuzz #go_bangali #kolkata #kolkatablogger #kolkatadiaries #kolkata_igers #worldheritagesites #love #love #footprintsofkolkata #romantic #followforfollowback"><img src="images/7.jpg" alt="Pic-7"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                <div class="gallery-box">
                    <a  href="gallery/8.jpg" data-lightbox="mygallery" data-title="Touching skies credit:@seshadri.sarkar #photooftheday #picoftheday #insta #instagood #britishindia #lovely #heritage #oldkolkata #kolkatasutra #kolkatabuzz #go_bangali #kolkata #kolkatablogger #kolkatadiaries #kolkata_igers #worldheritagesites #love #heartofthecity #footprintsofkolkata"><img src="images/8.jpg" alt="Pic-8"></a>
                </div>
            </div>
           
            <a class = "btn btn-outline-warning" href="/monsary">load more</a>
        </div>
    </div>
</section>
<section class="service" id="serviceRef">
     <h2 class="mainhead">Our Services</h2>
    <div class="contain">
         <div class="box">
            <div class="content">
                <h2>01</h2>
                <h3>Collaboration</h3>
                <img src="css/collab2.jpg">
                <p>Want to collab with us for your next event and make it reach to more number of audience ? We are always a great team player.</p>
                <a href="/contact">Contact us</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>02</h2>
                <h3>Event Promotion</h3>
                <img src="css/event.jpg">
                <p>Organising an event in and around the city ? Focus on the event , Leave the promotions to us.<br> We will take care of it.</p>
                <a href="/contact">Contact us</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>03</h2>
                <h3>Influencer Marketing</h3>
                <img src="css/influencer.jpg">
                <p>49% of people say they rely on recommendations from influencers when making purchase decisions.Come promote with us !!</p>
                <a href="/contact">Contact us</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>04</h2>
                <h3>Feature</h3>
                <img src="css/feature.png">
                <p>Are you a photographer?? Want to show kolkata with your lens ? Maybe we can give you the platform.Send us your picture !!</p>
                <a href="/contact">Contact us</a>
            </div>
        </div>
    </div>
</section>
</div>   

<%- include("partials/footer") -%>   
