<%- include("partials/header(2)") -%> 
<div class="jtron">
    <div id="jumbo">
        <h1 class="display-4">Hello, <%=username%>!</h1>
        <p class="lead">You Have Successfully Reached Out To Us</p>
        <hr class="my-6">
        <p>Please Wait For Our Response..We Will Contact You Via E-mail. ThankYou!!!</p>
        <p class="lead">
          <a class="btn btn-outline-dark btn-lg" id="jbtn" href="/" role="button">Home</a>
        </p>
    </div>
  </div>
<%- include("partials/footer") -%> 